/*body */

body {
  font-family: 'Kalam', cursive;
  background: rgb(9,76,9);
  background: linear-gradient(to right, #f6f1d3, #bacdd3 100%, #bebae9);
  border-radius: 6px;
  color: rgb(7, 7, 7);

}


/*navigation */
.nav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  padding-top: 20px;
  color: rgb(7, 7, 7);

}

/* navigation menu links */
.nav a {
  padding: 6px 8px 80px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  width: 150px;
  height: 80px;
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari 3-8 */
  transform: rotate(20deg);
  color: rgb(7, 7, 7);
  font-family: 'Kalam', cursive;

}

/* navigation menu links on hover */
.nav a:hover {
  color: #f6f1d3;
  background-color: #bacdd3;
  border-style: solid;
  border-color: white;
  font-size: 22px;
  width: 150px;
  height: 80px;
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari 3-8 */
  transform: rotate(270deg);
}

/* the body */
.main {
  margin-left: 160px; 
  padding: 0px 10px;
  color: rgb(7, 7, 7);
  font-family: 'Kalam', cursive;
  text-align: center;

}

/* typewriter for the navigation links */
.typewriter {
  overflow: hidden;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(35, end),
    blink-caret .75s step-end 1;
}

/* typing effect of the typewriter */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


/* h1 padding on the index page */
.main h1 {
  padding-bottom: 50px;
}

/* image on the index page */
 .mainImage{
  width: 400px;
  height: 400px;
  border-radius: 30%;

}

h2 {
  color: white;
}
/* about page */
#about {
  padding-top: 100px;
  padding-bottom: 50px;
}



/* placing the bars of the skills */
* {box-sizing:border-box}

.container {
  width: 100%; 
  padding: 20px;
}

/* skills headers */
#skillsHeading {
  font-size: 22px;
}

/* skills */
#skills ul {
  padding-bottom: 50px;
  list-style-type: none;
}




/* projects page */
#projects {
  padding: 50px;
}

#projects img, video{
  width: 700px;
  height:600px;
  border-radius: 30%;
}

#projects ul {
  list-style-type: none;
}



/* contact page links */
#contact a{
  font-size: 18px;
  color: rgb(17, 95, 21);
}

/* contacts page spacing of table content */
#contact td {
  padding: 10px;
}

/* buttons on contact page*/
.btn {
  width: 210px;
}

/* footer page */
#footer {
  padding-top: 50px;
}




/* on smaller screens, where width is 600px and less and height is 700 and less */
@media screen and (max-width: 600px) , screen and (max-height: 700px) {

  /* navigation */
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }

/* about  */
  #about p {
    font-size: 18px;
  }


  #projects img, video {
    width: 100px;
    height:100px;
    border-radius: 30%;
  }

  /* buttons on contact page*/
  .btn {
  width: 160px;
}
}



