/*body */

body {
  font-family: 'Kalam', cursive;
  background: rgb(9,76,9);
  background: linear-gradient(to right, #f6f1d3, #bacdd3 100%, #bebae9);
  border-radius: 6px;
  color: rgb(7, 7, 7);

}


/*navigation */
.nav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  padding-top: 20px;
  color: rgb(7, 7, 7);

}

/* navigation menu links */
.nav a {
  padding: 6px 8px 80px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  width: 150px;
  height: 80px;
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari 3-8 */
  transform: rotate(20deg);
  color: rgb(7, 7, 7);
  font-family: 'Kalam', cursive;

}

/* navigation menu links on hover */
.nav a:hover {
  color: #f6f1d3;
  background-color: #bacdd3;
  border-style: solid;
  border-color: white;
  font-size: 22px;
  width: 150px;
  height: 80px;
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari 3-8 */
  transform: rotate(270deg);
}

/* the body */
.main {
  margin-left: 160px; 
  padding: 0px 10px;
  color: rgb(7, 7, 7);
  font-family: 'Kalam', cursive;
  text-align: center;

}

/* typewriter for the navigation links */
.typewriter {
  overflow: hidden;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(35, end),
    blink-caret .75s step-end 1;
}

/* typing effect of the typewriter */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


/* h1 padding on the index page */
.main h1 {
  padding-bottom: 50px;
}

/* image on the index page */
 .mainImage{
  width: 400px;
  height: 400px;
  border-radius: 30%;

}

h2 {
  color: white;
}
/* about page */
#about {
  padding-top: 100px;
  padding-bottom: 50px;
}



/* placing the bars of the skills */
* {box-sizing:border-box}

.container {
  width: 100%; 
  padding: 20px;
}

/* skills headers */
#skillsHeading {
  font-size: 22px;
}

/* skills */
#skills ul {
  padding-bottom: 50px;
  list-style-type: none;
}

/* skills images */
#skills img {
  width: 200px;
  height:200px;
  border-radius: 30%;
}

/* skills grid */
#imageGrid {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
}

.angular {
  grid-area: 1 /2;

}

.bootstrap {
  grid-area: 1 /3;

}

.cshap {
  grid-area: 1 /4;
}

.css {
  grid-area: 2 /2;
}

.drupal {
  grid-area: 2 /3;
}

.express {
  grid-area: 2 /4;
}

.html {
  grid-area: 3 /3;
}

.java {
  grid-area: 3 /4;
}

.javascript {
  grid-area: 3 /5;
}

.mongo {
grid-area: 4 /3;
}

.node {
  grid-area: 4 /4;
}

.php {
  grid-area: 4 /5;
}

.seo {
  grid-area: 5 /2;
}

.sql {
  grid-area: 5 /3;
}

.tdd {
  grid-area: 5 /4;
}

.vb {
  grid-area: 6 /2;
}

.wordpress {
  grid-area: 6 /3;
}

.wpf {
  grid-area: 6 /4;
}

/* projects page */
#projects {
  padding: 50px;
}

#projects img {
  width: 700px;
  height:600px;
  border-radius: 30%;
}


/* contact page links */
#contact a{
  font-size: 18px;
  color: rgb(17, 95, 21);
}

/* contacts page spacing of table content */
#contact td {
  padding: 10px;
}

/* buttons on contact page*/
.btn {
  width: 210px;
}

/* footer page */
#footer {
  padding-top: 50px;
}




/* on smaller screens, where width is 600px and less and height is 700 and less */
@media screen and (max-width: 600px) , screen and (max-height: 700px) {

  /* navigation */
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }

/* about  */
  #about p {
    font-size: 18px;
  }

  /* skills images */
  #skills img {
    width: 80px;
    height:80px;
    border-radius: 30%;
  }

  /* skills grid */
  #imageGrid {
    display: grid;
    grid-template-columns: 80px 80px;
  }
  
  .angular {
    grid-area: 1 /1;
  
  }
  
  .bootstrap {
    grid-area: 1 /2;
  
  }
  
  .cshap {
    grid-area: 2 /1;
  }
  
  .css {
    grid-area: 2 /2;
  }
  
  .drupal {
    grid-area: 3 /1;
  }
  
  .express {
    grid-area: 3 /2;
  }
  
  .html {
    grid-area: 4 /1;
  }
  
  .java {
    grid-area: 4 /2;
  }
  
  .javascript {
    grid-area: 5 /1;
  }
  
  .mongo {
  grid-area: 5 /2;
  }
  
  .node {
    grid-area: 6 /1;
  }
  
  .php {
    grid-area: 6 /2;
  }
  
  .seo {
    grid-area: 7 /1;
  }
  
  .sql {
    grid-area: 7 /2;
  }
  
  .tdd {
    grid-area: 8 /1;
  }
  
  .vb {
    grid-area: 8 /2;
  }
  
  .wordpress {
    grid-area: 9 /1;
  }
  
  .wpf {
    grid-area: 9 /2;
  }

  #projects img {
    width: 100px;
    height:100px;
    border-radius: 30%;
  }

  /* buttons on contact page*/
  .btn {
  width: 160px;
}
}



